* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background {
    min-height: 100vh;
    width: 100%;
}
h1 {
    font-family: system-ui;
    font-size: 5rem;
    font-weight: 900;
}
#Quote {
    color: white;
}
#QuoteAuthor {
    color: red;
}